.split-box {
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 350px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 16px;
  box-sizing: border-box;
}

.split-box h3 {
  margin: 0 0 4px;
}

.split-box p {
  margin: 0 0 0;
  font-size: small;
}

.split-box > div:first-child {
  flex: 1;
  margin: 12px;
}

.split-box > div:last-child {
  background-color: #F3F4F6;
  flex: 1;
  margin-bottom: 0;
  border-radius: 0 0 8px 8px;
  padding: 4px 12px 4px;
}

.bar {
  margin-top: 4px;
}
