.slick-prev:before,
.slick-next:before {
  color: #4caf50; /* Change this to your desired color */
  display: block;
}

.empty-box {
  padding: 30px;
  width: 100%;
  text-align: center;
  border: 3px solid #458e60;
  border-style: dashed;
  border-radius: 15px;
  margin: 15px auto;
  font-family: "Open Sans", sans-serif;
}

/* Media query to hide slick-arrows on smaller screens */
@media (max-width: 600px) {
  .slick-prev:before,
  .slick-next:before {
    display: none;
  }

  .slick-arrow {
    display: none;
  }
}
