/* Navbar styles */
.navbar {
  padding: 0;
  display: flex;
}


.second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo h4 {
  color: #458e60;
  margin: 0;
  font-weight: bolder;
  font-size: 40px;
}

.nav-links {
  display: flex;
  gap: 35px; /* Adjust the gap between links */
}

/* Navigation links */
.nav-link {
  color: #458e60;
  text-decoration: none;
  padding: 5px 10px; 
  font-size: 25px;
  font-weight: 400;
}

.link-logo:hover {
text-decoration: none;
}

/* Hover effect on links */
.nav-link:hover {
  background-color: #458e60;; /* Background color change on hover */
  border-radius: 5px;
  color: white;
}

/* Active link styling */
.active-link {
  color: white;
  border-radius: 5px;
}

.page-name {
  font-size: 25px;
  font-weight: bold;
}

