.rise_section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rise_header {
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #458e60;
}

.rise_header hr {
  background: #458e60;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  width: 50%;
  border: 5px solid #458e60;
}

.rise_paragraph {
  flex: 1;
  justify-content: flex-start;
  margin: 2rem 0;
  font-family: "Montserrat", sans-serif;
  color: black;
  font-size: 18px;
  text-align: justify;
}

.rise_member_section {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto";
  font-style: normal;
  font-size: 20px;
  line-height: 27px;
}
.profile_picture img {
  background-color: #ccd7e2;
  border-radius: 360px;
  height: 200px;
  margin: 1.2rem;
}

.profile_name {
  font-weight: 300;
}

.profile_sid {
  text-align: center;
}

.profile_name h5 {
  text-align: center;
  width: 100%;
}

.social_media {
  justify-content: space-around;
  display: flex;
  margin: 0.5rem;
}

.rise_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.landing-page-section {
  height: max-content;
  margin-top: 7.5rem;
}

@media (max-width: 490px) {
  .rise_member_section {
    display: flex;
    flex-direction: column;
  }
  .rise_paragraph {
    display: none;
  }
  .rise_header h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #OURGOAL{
    display: none;
  }
  .profile_picture {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 850px) {
  .profile_picture {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rise_member_section {
    display: flex;
    flex-direction: column;
  }
  .social_media {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1000px) {
  .rise_paragraph p {
    font-size: 18px;
  }
}
